.zakypki {
    /*margin: 0 auto;*/
    max-width: 1024px;
}

.componentheadingtab-page,
.componentheadingrealtyobj-page,
.componentheadingorders-page {
    position: absolute;
}

.orders-page .th_ef_status-zakupki,
.orders-page .td_ef_status-zakupki {
    display: none;
}

.realtyobj-page .th_ef_vneshnij_id,
.realtyobj-page .th_ef_na_balanse,
.realtyobj-page .th_ef_vremya_do_metro,
.realtyobj-page .th_ef_detalizatsiya,
.realtyobj-page .th_ef_imushchestvennyj_kompleks_ili_zdanie,
.realtyobj-page .th_ef_gid,
.realtyobj-page .th_ef_rang,

.realtyobj-page .td_ef_vneshnij_id,
.realtyobj-page .td_ef_na_balanse,
.realtyobj-page .td_ef_vremya_do_metro,
.realtyobj-page .td_ef_detalizatsiya,
.realtyobj-page .td_ef_imushchestvennyj_kompleks_ili_zdanie,
.realtyobj-page .td_ef_gid,
.realtyobj-page .td_ef_rang
{
    display: none;
}

.tab-page .th_ef_status_zakupki_arenda,
.tab-page .th_ef_id_pomeshcheniya,
.tab-page .th_ef_tip_ob_ekta,
.tab-page .th_ef_imeetsya,
.tab-page .th_ef_stantsiya_metro,
.tab-page .th_ef_vneshnij_id,
.tab-page .th_ef_detalizatsiya,
.tab-page .th_ef_na_balanse,
.tab-page .th_ef_vremya_do_metro,
.tab-page .th_ef_imushchestvennyj_kompleks_ili_zdanie,
.tab-page .th_ef_gid,
.tab-page .th_ef_rang,
.tab-page .th_ef_koordinaty,

.tab-page .td_ef_status_zakupki_arenda,
.tab-page .td_ef_tip_ob_ekta,
.tab-page .td_ef_imeetsya,
.tab-page .td_ef_stantsiya_metro,
.tab-page .td_ef_vneshnij_id,
.tab-page .td_ef_detalizatsiya,
.tab-page .td_ef_na_balanse,
.tab-page .td_ef_vremya_do_metro,
.tab-page .td_ef_imushchestvennyj_kompleks_ili_zdanie,
.tab-page .td_ef_gid,
.tab-page .td_ef_rang,
.tab-page .td_ef_koordinaty,
.tab-page .td_ef_id_pomeshcheniya
{
    display: none;
}