/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Widgetkit Slideshow: Default Style
 */


/* Navigation
----------------------------------------------------------------------------------------------------*/

.wk-slideshow-default .nav {
	margin-top: 15px;
	text-align: center;
}

.wk-slideshow-default .nav li {
	display: inline-block;
	margin-left: 5px;
}
.wk-slideshow-default .nav li:first-child { margin-left: 0; }

.wk-slideshow-default .nav span {
	width: 16px;
	height: 15px;
	background: url(images/nav.jpg) 0 0 no-repeat;
	overflow: hidden;
}

.wk-slideshow-default .nav span:hover { background-position: 0 -30px; }
.wk-slideshow-default .nav span:active { background-position: 0 -45px; }
.wk-slideshow-default .nav .active span { background-position: 0 -15px; }

/* Buttons
----------------------------------------------------------------------------------------------------*/

.wk-slideshow-default > div { position: relative; width:1024px; margin: 0 auto;}

/*.wk-slideshow-default > div:hover .next,
.wk-slideshow-default > div:hover .prev {
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background: url(images/buttons.png) 0 50px no-repeat;
}*/
.wk-slideshow-default > div:hover .prev {
    top: 40%;
    width: 89px;
    height: 106px;
    margin-top: -25px;
    background: url(images/left.jpg) 0 50px no-repeat;
    opacity: 0.6;
}
.wk-slideshow-default > div:hover .next {
    top: 40%;
    width: 89px;
    height: 106px;
    margin-top: -25px;
    background: url(images/right.jpg) 0 50px no-repeat;
    opacity: 0.6;
}

.wk-slideshow-default > div:hover .next {
	/*right: 30px;*/
    right: 0;
	background-position: 0 0;
}

.wk-slideshow-default > div:hover .prev {
	/*left: 30px;*/
    left: 0;
    background-position: 0 0;/*background-position: 0 -50px;*/
}


/* Responsive
----------------------------------------------------------------------------------------------------*/

/* Only Touch Devices */
@media (max-device-width: 1024px) {

	.wk-slideshow-default .next,
	.wk-slideshow-default .prev { display: none; }

}