body { background: #f1ecec; font-family: "DIN Pro Medium", Arial, "Times New Roman", Times, Baskerville, Georgia, serif; overflow-x: hidden;}

.tm-block { background: #fff; /*max-width: 1154px;*/ border: 1px solid #d1d1d1; border-width: 0 1px; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tm-block.tm-block-dark { background: #ffffff;}

.uk-container { padding: 0; }

.tm-headerbar { background: #005792;}
.tm-headerbar .uk-container { max-width: inherit; padding: 0; /*width: 1154px;*/ }
.tm-headerbar .title-line { max-width: 1054px; margin: 0 auto; }
.tm-headerbar .title-line .logo { float: left; margin-left: 60px; }

.sign-in-form input { color: #000 !important; background: #fff !important; }
.sign-in-form .uk-button { font-size: 10px; text-transform: uppercase; background: transparent; padding: 0 7px; }
.sign-in-form .sign-up-link { font-size: 10px; text-transform: uppercase; border-left: 1px solid #c1cad4; padding-left: 10px; }
.sign-in-form .sign-up-link a { color: #76a1ce; }
.sign-in-form .sign-up-link a:hover { text-decoration: underline; }

.uk-article-title, .djc_title,
.componentheading { font-size: 28px; color: #000; border-bottom: 1px solid #a1a1a1; line-height: 45px; }

.tm-content { min-height: 500px; }
.main-page .tm-content { min-height: 0; }

.top_links { text-align: center; font-size: 8px; line-height: 16px; float: right; margin-right: 40px; }
.top_links .item { display: inline-block; vertical-align: middle; }
.top_links .item.left { text-align: center; }
.top_links .item.center { margin: 0 30px; }
.top_links .item.right { text-align: center; }
.top_links a { color: #c5cfdd; /*text-decoration: underline;*/ }
.top_links a:hover { text-decoration: none; }

.logo-line { zoom: 1; clear: right; }
.logo-line .site-title { text-align: left; color: #09568b; font-size: 18px; line-height: 26px; text-transform: uppercase; /*padding-top: 25px;*/ }
.logo-line .site-title .line { padding-left: 20px; display: block; /*margin-left: 340px;*/color: #c5cfdd; font-family: "DIN Pro Medium";}
.logo-line .site-title .l1 { padding-left: 20px; font-size: 12px; color: #c5cfdd; font-family: "DIN Pro Medium";}
.logo-line .site-title .l2 {float: right; font-family: "DIN Pro Medium"; font-size: 18px; font-style: Italic; color: #5c5b5b;}

.uk-navbar-nav { height: 81px; float: none; position: relative; z-index: 3; background: #0a3159}
.uk-navbar-nav>li { float:right; background-image: none; width: 40%; font-size: 22px; line-height: 22px; text-align: center; height: 100%;}

.uk-navbar-nav.columns-3>li { width: 33.33333%; }
.uk-navbar-nav>li:first-child { float:left;  text-align: right; width: 60%; border-left: none; background: url(../../../images/nav-sep.png) no-repeat right center , url(../../../images/redblocktext3.png) no-repeat left ;}
.uk-navbar-nav>li:first-child:hover{ float:left;  text-align: right; width: 60%; border-left: none; background: url(../../../images/nav-sep.png) no-repeat right center , url(../../../images/redblocktext3.png) no-repeat left ; }

.uk-navbar-nav>li>a { /*padding-right: 50px;*/ height: 81px; font-family: "DIN Pro Medium";}
.uk-navbar-nav>li>a.two-rows { line-height: 24px; padding-top: 10px; }
.uk-navbar-nav>li:hover { background-color: #324e6f; background-image: none; }
.uk-navbar-nav>li:hover>a { color: #fff; }
.uk-navbar-nav>li>.uk-dropdown { padding: 0; font-size: 14px; text-align: left; width: 100%;  background-color: #324e6f; background-color: rgba(50,78,111,0.9); }
.uk-navbar-nav>li>.uk-dropdown a { text-transform: none; font-size: 16px; }
.uk-navbar-nav>li .uk-width-1-1 { padding: 0; }
.uk-navbar-nav>li.uk-active>a { color: #ffffff; }
.uk-navbar-nav>li.uk-active>a:hover { color: #fff; }
.uk-navbar-nav .uk-grid { margin: 0 !important; }
.uk-navbar-nav .uk-width-1-1 { padding: 0 !important; }
.uk-navbar-nav .uk-nav { margin: 0; padding: 0; }
.uk-navbar-nav .uk-nav li > a { color: #ffffff; padding-left: 25px; padding-right: 25px; }
.uk-navbar-nav .uk-nav li > a:hover { background: #052851; color: #fff; }
.uk-dropdown-navbar .uk-nav li.uk-active > a { background: #1097F4; color: #fff; }

.tm-block>.uk-container>.uk-grid { font-family: "DIN Pro Medium" !important; }

.uk-nav-side > li.uk-active > a { background: transparent; }

.uk-panel-header .uk-panel-title { padding: 20px 0 20px 0; color: #0a3159; font-size: 30px; text-transform: uppercase; font-weight: 700; font-family: "DIN Pro Medium"; max-width: 984px; margin: 0 auto;}
.uk-badge a:hover { text-decoration: none; }

.nspArts { padding: 0; min-height: 400px; max-width: 1154px; margin: 0 auto;}
.nspArt { color: #0a3159; font-size: 16px; line-height: 17px; padding: 0 80px 0 70px !important; }
.nspArt h4.nspHeader { font-size: 16px; line-height: 30px; color: #0a3159; text-transform: uppercase; font-weight: bold; font-family: "DIN Pro Medium";}
.nspArt h4.nspHeader a { color: #000; text-decoration: none; }
.nspArt h4.nspHeader a:hover { text-decoration: underline; }
.nspArt p { margin: 10px 0 40px 0; color: #0a3159; font-size: 15px;}
.nspArt a.readon { font-size: 14px; color: #0a3159; text-transform: uppercase; font-weight: 700; padding: 8px; border: 1px solid #c71205; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; font-family: "DIN Pro Medium";}
.nspArt a.readon:hover { text-decoration: none; }

.uk-panel-box-secondary { font-size: 15px; background: #ffffff !important;}
.uk-panel-box-secondary .uk-panel-space { padding: 0 0px 20px 20px; margin: 40px 0 0 0; }
.uk-panel-box-secondary h3.uk-panel-title { margin-bottom: 5px; font-size: 16px; line-height: 16px; color: #0a3159; text-transform: uppercase; font-weight: 700;}
.uk-panel-box-secondary .uk-nav-side { /*padding-left: 13px;*/ }
.uk-panel-box-secondary .uk-nav-side li a { display: inline; padding: 0; }
.uk-panel-box-secondary .uk-nav-side li a:hover { text-decoration: underline; background: transparent; }
.uk-panel-box-secondary > a:not([class]), .uk-panel-box-secondary > *:not([class*="uk-nav"]) a:not([class]) { color: #0a3159; font-weight: normal; font-family: "DIN Pro Medium"; }

.djc_list {  }
.djc_list .djc_item {  }
.djc_list .djc_item .djc_item_bg,
#djcatalog .djc_items .djc_item_bg, #djcatalog .djc_related_items .djc_item_bg { background: transparent; margin: 30px 0 0; }
.djc_list .djc_item .djc_item_in,
#djcatalog .djc_items .djc_item_in, #djcatalog .djc_related_items .djc_item_in { padding: 0 0 20px 30px; }
.djc_list .djc_item .djc_item_in { border-bottom: 1px solid #a1a1a1; font-size: 18px; }
.djc_list .djc_item .djc_item_in .djc_image { display: none; }
.djc_list .djc_item .djc_item_in .djc_title {border: none; margin: 0 0 15px -30px; display: inline-block; background: #b6201d; }
.djc_list .djc_item .djc_item_in .djc_title h3 { text-transform: uppercase; font-size: 16px; line-height: 38px; margin: 0; }
.djc_list .djc_item .djc_item_in .djc_title h3 a { display: inline-block; padding: 0 10px; color: #fff; }
.djc_list .djc_item .djc_item_in .djc_title h3 a:hover { text-decoration: underline; }

.djc_contact_form_toggler button { font-size: 16px; text-transform: uppercase; }

.wk-slideset-default strong.title { display: inline-block; width: 200px; overflow: hidden; white-space: nowrap; }
.external-widget { background: transparent; padding: 0; margin-top: 35px; }

.tm-main-top { margin-bottom: 10px; }
.tm-main-bottom { margin-top: 10px; }

.main-zakipki .uk-badge a { }

.page-feedback { }
.page-feedback .tm-content { min-height: 0; }
.page-feedback .contact-form { background: transparent; padding: 0; box-shadow: none; }
.page-feedback .contact-form fieldset { margin: 0; }
.page-feedback .contact-form .form-horizontal .control-label { padding-top: 9px; }
.page-feedback textarea { height: auto; }

.page-flow-documents .tm-content { min-height: 0; }

.page-search .uk-article-meta { display: none; }

body .form-horizontal .help-block { margin: 0 }
body .form-horizontal .help-block ul { margin: 0; padding-left: 15px; }

.tm-toolbar { font-family: "DIN Pro Medium", Helvetica, Sans Serif; font-size:14px; line-height: 24px; color: #fff; }
.tm-toolbar .uk-float-right .uk-panel { float: right; }
.tm-toolbar .phone { margin-right: 20px; font-family: "DIN Pro Medium", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; }
.tm-toolbar .uk-search:before { line-height: 22px; content: ""; }
.tm-toolbar .uk-search { margin-right: 10px; float: right; }
.tm-toolbar .uk-search input.search-field { background: #0a3159; padding-left: 10px; border: 1px solid #ffffff; width: 110px; height: 20px; font-size: 14px; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:5px; -khtml-border-radius:10px; color: #ffffff; font-family: "DIN Pro Medium";}
.tm-toolbar a.old-version { color: #5A8ABB; margin-left: 10px; font-size: 12px; }
.tm-toolbar a.old-version:hover { text-decoration: underline; }
.tm-toolbar input.search-field::-webkit-input-placeholder { color: #ffffff; }
.tm-toolbar input.search-field:-moz-placeholder { color: #ffffff; }
.tm-toolbar input.search-field::-moz-placeholder { color: #ffffff; }
.tm-toolbar input.search-field:-ms-input-placeholder { color: #ffffff; }

.tm-toolbar p { margin: 0; }

table.rent-list { border: 3px solid #d2d3d5; }
table.rent-list thead th { color: #4c4b4b; border: 1px solid #d2d3d5; }
table.rent-list tbody td { border: 1px solid #d2d3d5; background: #f8f6f6; color: #3a3a3a; }
table.rent-list tbody td p { margin: 0; }
table.rent-list tbody td.djc_image img { padding: 0; width: 20px; }
table.rent-list tbody td.djc_image .img-dummy { display: inline-block; width: 20px; height: 21px; background: url(../../../images/rent-dummy.png) no-repeat; }
table.rent-list tbody td.djc_price { text-align: right; }

.tm-block-top-a .uk-container { max-width: inherit; padding: 0; }
.main-slideshow { /*margin-top: -1px;*/ }
.main-slideshow .slides { /*border: 1px solid #e5e5e5;*/ }

span.itemEditLink { white-space: nowrap; }

@media (min-width: 960px) {
    .uk-container { padding: 0; }
    .top_links { float: none; padding-left: 20px; margin-left: 0; margin-right: 0; display: inline-block; }
}
@media (min-width: 769px) and (max-width: 959px) {
    .uk-container { padding: 0 20px; }
    .top_links { float: none; margin-left: 0; margin-right: 0; }
}
@media (max-width: 768px) {
    .uk-container { /*padding: 0 20px;*/ }
    .top_links { float: none; margin-left: 0; margin-right: 0; }
    .top_links .item { display: block; margin: 0; }
    .title-line .logo-line .logo { margin: 10px 0; float: none; text-align: center; }
    .title-line .logo-line .site-title .line { margin: 0; }
    .title-line td { display: block; }
}
/*//////////////////////////////////////////////////////////////////////////////////*/
.tm-toolbar .menuheader li {float: left; margin: 0 15px 0 15px;}
.tm-toolbar .menuheader li a {color: #ffffff; font-size: 14px; text-transform: uppercase; font-weight: 700; font-family: "DIN Pro Medium";}
.item.right.phone{ padding-left: 212px; font-size: 14px; color: #ffffff; text-align: right;}
.item.right.phone p {font-size: 11px; margin: 0 auto;}
.tm-block.tm-block-dark.tm-toolbar.uk-clearfix.uk-hidden-small {background: #0a3159;}

.uk-panel.uk-panel-header.main-zakipki{background: #0a3159; min-height: 500px; }
.uk-panel.uk-panel-header.main-zakipki .uk-panel-badge.uk-badge a {color: #ffffff;}
.uk-panel.uk-panel-header.main-zakipki .uk-panel-title { max-width: 1024px; margin: 0 auto; color: #ffffff; font-family: "DIN Pro Medium";}
.uk-panel.uk-panel-header.main-zakipki .nspMain.main-zakipki.activated .nspArts.bottom .nspArtScroll1 .nspArtScroll2.nspPages3 .nspArtPage.active.nspCol3 .nspArt.nspCol3 .nspHeader.tleft.fnone {color: #ffffff;}
.uk-panel.uk-panel-header.main-zakipki .nspMain.main-zakipki.activated .nspArts.bottom .nspArtScroll1 .nspArtScroll2.nspPages3 .nspArtPage.active.nspCol3 .nspArt.nspCol3 {color: #ffffff;}
.uk-panel.uk-panel-header.main-zakipki .nspMain.main-zakipki.activated .nspArts.bottom .nspArtScroll1 .nspArtScroll2.nspPages3 .nspArtPage.active.nspCol3 .nspArt.nspCol3 p {color: #ffffff;}
.uk-panel.uk-panel-header.main-zakipki .nspMain.main-zakipki.activated .nspArts.bottom .nspArtScroll1 .nspArtScroll2.nspPages3 .nspArtPage.active.nspCol3 .nspArt.nspCol3 a {color: #ffffff; border: 1px solid #ffffff;}
.nspText.tleft.fleft {margin: 10px 0 40px 0; font-family: "DIN Pro Medium"; font-size: 14px;}

.tm-sidebar-a.uk-width-medium-3-10 .uk-panel.uk-panel-header .uk-panel-badge.uk-badge {top: 440px; left: -45px;}
.tm-sidebar-a.uk-width-medium-3-10 .uk-panel.uk-panel-header .uk-panel-badge.uk-badge a {background: #0a3159; color: #ffffff; font-size: 18px; border: 1px solid #ffffff; padding: 15px 30px 15px 30px; font-family:"DIN Pro Medium";}

.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header._ymap_front .uk-panel-badge.uk-badge {right: 22%; top: 5%;}
.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header._ymap_front .uk-panel-badge.uk-badge  a {background: #0a3159; color: #ffffff; font-size: 18px; border: 1px solid #ffffff; padding: 15px 30px 15px 30px; font-family: "DIN Pro Medium";}

.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header.main-zakipki .uk-panel-badge.uk-badge {top: 440px; left: -65px;}
.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header.main-zakipki .uk-panel-badge.uk-badge a {background: #c71205; color: #ffffff; font-size: 18px;  padding: 15px 30px 15px 30px;}

.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header{ height: 450px; }
.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header .uk-panel-badge.uk-badge a {background: #c71205; color: #ffffff; font-size: 18px;  padding: 15px 30px 15px 30px;}

.tm-block.tm-block-dark .uk-container.uk-container-center .tm-footer.uk-text-center p a {display: none;}
.tm-block.tm-block-dark.uk-panel-box-secondary { font-weight: 700; border-top: 1px solid #c71205; }

.tm-block.tm-block-dark .uk-container.uk-container-center .tm-footer.uk-text-center .uk-panel p { margin: 0 auto; font-size: 10px;}


.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form {color: #0a3159; background: #ffffff; /*border-bottom: 1px solid #c71205;*/}
.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form #contact{ font-size: 14px; font-family: "DIN Pro Medium"; float:right; width: 50%; background: #0a3159 url(../../../images/redline.jpg) no-repeat left; }

.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  input::-webkit-input-placeholder {color: #ffffff; font-size: 14px;}
.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  input:-moz-placeholder {color: #ffffff; font-size: 14px;}
.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  input::-moz-placeholder {color: #ffffff;}
.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  input:-ms-input-placeholder {color: #ffffff; font-size: 14px;}

.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  textarea::-webkit-input-placeholder {color: #ffffff; font-size: 14px;}
.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  textarea:-moz-placeholder {color: #ffffff; font-size: 14px;}
.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  textarea::-moz-placeholder {color: #ffffff; font-size: 14px;}
.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  textarea:-ms-input-placeholder {color: #ffffff; font-size: 14px;}

.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form .form-horizontal button {margin-left: 30px; background: #c71205;padding: 10px 30px 10px 30px; text-transform: uppercase; font-size: 18px;}

.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  input { border: 1px solid #ffffff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.uk-container.uk-container-center .tm-bottom-a.uk-grid .uk-width-1-1 .uk-panel.uk-panel-box.contact-form  textarea { height:80px; color:#ffffff; border: 1px solid #ffffff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
#contact .control-group .control-label {display: none;}
#contact .form-horizontal .control-group {margin: 0 auto;}
.form-horizontal .controls {margin: 0 300px 20px 100px; }
.feedback_container {
    right:0;
    margin-right: 56.4%;
    position: absolute;
}
.uk-panel.uk-panel-box.contact-form .title-feedback {
    padding: 20px 20px 0 0;
    font-family: "DIN Pro Medium";
    font-size: 30px;
    text-transform: uppercase;
    color: #0a3159;
    font-weight: 700;
    text-align: left;
    margin: 20px 0 0 0;
}
.uk-panel.uk-panel-box.contact-form .text-feedback {
    padding-right: 20px;
    font-family: "DIN Pro Medium";
    font-size: 16px;
    color: #0a3159;
    font-weight: 700;
    width: 370px;
    float: right;
}
.tm-bottom-a.uk-grid .uk-panel.uk-panel-box.contact-form {padding: 35px 0 0 35px;}

.tm-block .tm-middle.uk-grid .tm-main.uk-width-medium-1-1 .tm-content .uk-article .uk-article-title /* {display: none;}*/ { font-size: 25px; line-height: 200px; width: 100%; height: 195px; background: url(../../../../../templates/ftcentre/images/ft-torg-ploshdka.png) 0% 0% repeat-x; color: #FFF; padding-left: 25px; text-transform: uppercase; }

.uk-form.sign-in-form{font-family: "DIN Pro Medium";}
.wk-slideset-default article+strong.title{font-size: 12px; font-weight: bold; font-family: "DIN Pro Medium"; color: #0a3159; text-transform: uppercase;}
.uk-panel-box {box-shadow: none;}
.tm-block-dark + .tm-block .tm-footer{font-family: "DIN Pro Medium";}

.uk-float-right .uk-panel .uk-form .uk-form-row p {font-size: 10px;}

.tm-block .uk-container.uk-container-center .tm-middle.uk-grid .tm-sidebar-a.uk-width-medium-3-10 {max-width: 1154px; margin: 0 auto; float: none; min-height: 500px !important;}

.tm-block .uk-container.uk-container-center .tm-middle.uk-grid .ttm-sidebar-b.uk-width-medium-1-2.uk-grid-margin {max-width: 1154px; margin: 0 auto; float: none; min-height: 600px !important;}

.tm-block.tm-block-dark.uk-panel-box-secondary .uk-container.uk-container-center {max-width: 1024px; margin: 0 auto;}

.nspArt.nspCol3 p:nth-child(3){ width: 220px; height: 153px; overflow: hidden; text-overflow: ellipsis; }

.uk-panel.uk-panel-header.rent .uk-panel-badge.uk-badge {left: 35px; top: 420px;}

.uk-width-1-1.uk-width-medium-1-4  .uk-panel.uk-panel-space.uk-hidden-small{ border-left: 1px solid #0a3159; max-width: 198px; min-width: 120px }



.tm-main.uk-width-medium-1-1 .tm-content { max-width: 1024px; margin: 0 auto; }
.componentheadingtab-page, .componentheadingrealtyobj-page, .componentheadingorders-page { line-height: 200px; width: 100%; height: 195px; background: url(../../../../../templates/ftcentre/images/ft-torg-ploshdka.png); color: #FFF; text-transform: uppercase; padding: 0; margin: 0 auto; }
.tab-page .tm-breadcrumb, .realtyobj-page .tm-breadcrumb, .orders-page .tm-breadcrumb { max-width: 1024px; margin: 0 auto; text-align: left; padding-left: 55px; margin-top: -22px;}
.tm-main.uk-width-medium-1-1 .tm-content { overflow: hidden;}
.tm-content .componentheadingtab-page, .tm-content .componentheadingrealtyobj-page, .tm-content .componentheadingorders-page { font-size: 25px; line-height: 200px; width: 100%; height: 195px; background: url(../../../../../templates/ftcentre/images/ft-torg-ploshdka.png) 0% 0% repeat-x; color: #FFF; padding-left: 25px; text-transform: uppercase; }
.djc_listtab-page #tab, .djc_listrealtyobj-page #tab, .djc_listorders-page #tab { margin: 90px 25px 10px; font-size: 12px; }
.djc_listtab-page .nav-tabs li a, .djc_listorders-page .nav-tabs li a { margin: 0 20px 0 0 !important; }
.djc_listtab-page .nav-tabs li .djc_select, .djc_listorders-page .nav-tabs li .djc_select { margin-left:90px; font-weight: bold;}
.tm-content .uk-article { /*border: 1px solid #E2E2E2; padding: 20px; */ padding-top: 0px;}

.tm-block.tm-block-dark.tm-toolbar.uk-clearfix.uk-hidden-small .uk-container.uk-container-center { max-width: 1024px; margin: 0 auto; }
.tm-sidebar-b.uk-width-medium-1-2.uk-grid-margin .uk-panel.uk-panel-header._ymap_front { height: 600px; }

.uk-navbar-flip { background: linear-gradient(to right, #ce2300 50%, #0a3159 50%); height: 81px}
.uk-navbar-nav.columns-2.uk-hidden-small { width: 1024px; margin: 0 auto; }

.tm-content .componentheadingrealtyobj-page .map_link {
    position: absolute;
    top:75px;
    right: 150px;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    line-height: 150px;
    display: block;
}
.map_link span {
    width: 80px;
    float: left;
    height: 81px;
    margin: 0 10px 0 10px;
    background: url('../../../images/cart.png');
}
.tm-content .componentheadingtab-page .object_link {
    position: absolute;
    top:75px;
    right: 150px;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    line-height: 150px;
    display: block;
    color: #FFF;
}
.object_link span {
    width: 80px;
    float: left;
    height: 81px;
    margin: 0 10px 0 10px;
}

#djcatalog .nav-tabs li a { font-weight: bold;}

.tm-content {
    width: 1154px; /*fix bug resize map*/
}

.tm-content .componentheadingrealtyobj-page, .tm-content .componentheadingtab-page { font-size: 28px !important; }
.uk-breadcrumb .uk-active { font-size: 16px; }
.uk-breadcrumb { font-weight: bold;}

.pagination { text-align: center; }

.header_additional_info {
    text-align: right;
    color: #FFF;
    max-width: 999px;
    padding-right: 11%;
    font-family: "DIN Pro Medium";
    font-weight: bold;
}

.afiles li {
    background: url('../../../images/file_img.png') no-repeat left top;
    padding: 3px 0px 3px 40px;
    list-style: none;
    margin: 0;
    line-height: 30px;
}
.afiles a {
    text-decoration: underline;
}


@media ( max-width: 1024px ) {
    body,
    .djc_listrealtyobj-page.djc_theme_default { /*max-width: 980px;*/ max-width: 1024px;  width: 100%; margin: 0 auto; overflow-x:hidden;}
    * {margin: 0; padding: 0;}
    .uk-navbar-nav > li:first-child { border-right: 1px solid #c71205; width: 59.7%;}
    .uk-navbar-nav > li:first-child:hover { border-right: 1px solid #c71205; width: 59.7%;}
    .tm-headerbar .title-line,
    .uk-navbar-flip.uk-hidden-small
    .uk-navbar-nav.columns-2.uk-hidden-small,
    .tm-noblog.tab-page,
    .djc_listtab-page.djc_theme_default,
    .tm-content,
    #djcatalog{ width: 100%; }

    .tm-block.tm-block-dark.tm-toolbar.uk-clearfix.uk-hidden-small { padding-right: 15px;}
    .tm-block-dark + .tm-block .tm-footer { padding: 0 15px 0 15px; }
    .uk-panel-header .uk-panel-title { padding: 20px 70px 20px 70px; }
    .ymaps-b-zoom {padding: 35px 0 0 35px;}
    .item.right.phone {padding-left: 0;}

    .djc_listtab-page.djc_theme_default,
    .tm-block.tm-block-dark.uk-panel-box-secondary .uk-container.uk-container-center {width: 100%; max-width: 1024px; /*max-width: 980px;*/}

    .djc_listtab-page .nav-tabs li .djc_select,
    .djc_listorders-page .nav-tabs li .djc_select {margin: 0; width: 210px;}

    .djc_listtab-page #tab,
    .djc_listrealtyobj-page #tab,
    .djc_listorders-page #tab {margin: 90px 20px 25px 40px;}

    .tab-content{ /*padding-left: 40px;*/ }
    /*.tm-content .uk-article {padding: 20px 0 20px 50px;}*/
    .uk-container { padding: 0;}

    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:first-child a { padding-right: 18% !important; }
    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:first-child .uk-nav.uk-nav-navbar li a { padding-right: 6%; }
    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:nth-child(2) a { padding-left: 25%; }
    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:nth-child(2) .uk-nav.uk-nav-navbar li a { padding-left: 6%; }
    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:nth-child(2) a { text-align: left; }
}
.uk-panel.main-slideshow .slides { width: 1024px !important; margin: 0 auto !important; }


/*if user register*/
.uk-navbar-flip.uk-hidden-small.for_register_user {background: #0a3159;}
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav.columns-3.uk-hidden-small {width: 1024px; margin: 0 auto;}
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav>li { float: left; }
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav>li:first-child { width: 33.22222%; background: none; border-right: 1px solid #c71205;}
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav>li:first-child:hover { width: 33.22222%; background: none;}
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav>li:last-child { width: 33.22222%; background: none; border-left: 1px solid #c71205;  }
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav>li:last-child:hover { width: 33.22222%; background: none;}

.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav.columns-3.uk-hidden-small .uk-parent:first-child .uk-dropdown { width: 100%; margin-left: 0; }
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav.columns-3.uk-hidden-small .uk-parent:first-child:hover:before  { width: 100%; margin-left: 0; }
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav.columns-3.uk-hidden-small .uk-parent a { text-align: center; }
.uk-navbar-flip.uk-hidden-small.for_register_user .uk-navbar-nav.columns-3.uk-hidden-small .uk-parent .uk-dropdown.uk-dropdown-navbar.uk-dropdown-width-1 a { text-align: left; }


.header_additional_info { padding-right: 1%; }
/*//////////////////*/

.uk-panel.uk-panel-box.document { margin: 0 auto;width: 1024px; }
.uk-panel.uk-panel-box.uploaded { margin: 0 auto;width: 1024px; }

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    font-weight: bold;
    text-align: center ;
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    font-weight: bold;
    text-align: center ;
}

.moderation_button {
    background-color: #c71205;
    padding: 15px;
    color: white;
    text-transform: uppercase;
}

.moderation_container {
    display:table;
    margin: 25px auto;
}

.moderation_button:hover {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.login .form-horizontal .well { background: #FFFFFF; }
.login .form-horizontal .well .control-label { padding: 5px 10px; }
.login .form-horizontal .well .controls { margin-left: 180px; }

.uk-navbar-nav>li:first-child .uk-dropdown {
    width: 65%;
    margin-left: 35%;
}
ul.uk-navbar-nav > li:first-child:hover:before {
    width: 65%;
    margin-left: 35%;
}
.uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:first-child a { padding-right: 10%; }
@media ( min-width: 1025px ) and ( max-width: 1220px ){
    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:first-child a { padding-right: 18%; }
    .uk-navbar-nav.columns-2.uk-hidden-small .uk-parent:first-child .uk-nav.uk-nav-navbar li a { padding-right: 6%; }
}

/*realty object has*/
.realty_obj_has {
    width: 35px;
    height: 35px;
    display: block;
    margin: 5px;
    float: left;
}
.class_electric {
    background: url('../../../images/realty/electric.png');
}
.class_cleaning {
    background: url('../../../images/realty/cleaning.png');
}
.class_telephony {
    background: url('../../../images/realty/telephony.png');
}
.class_internet {
    background: url('../../../images/realty/internet.png');
}
.class_furniture {
    background: url('../../../images/realty/furniture.png');
}
.class_security {
    background: url('../../../images/realty/security.png');
}
.class_conditioner {
    background: url('../../../images/realty/conditioner.png');
}
.class_ventilation {
    background: url('../../../images/realty/ventilation.png');
}

.orders_sidebar {
    color: #FFF;
    margin: 0;
    background: #0a3159;
    text-shadow: none;
}
.orders_sidebar .djc_title a {
    color:#FFF;
}
.orders_sidebar .djc_title {
    border-bottom: none;
}
.orders_sidebar .djc_items {
    max-width: 1154px;
    margin: 0 auto;
}

.orders_sidebar .item_container {
    width: 33%;
    float: left;
}

.orders_sidebar .mod_djc_item {
    padding: 0 80px 0 70px;
    width: 220px;
}

.orders_sidebar .djc_introtext {
    height: 153px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 40px 0;
    font-size: 15px;
    line-height: 17px;
}

.orders_sidebar a.readon {
    font-size: 14px;
    color: #0a3159;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px;
    border: 1px solid #c71205;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: "DIN Pro Medium";
    color: #ffffff;
    border: 1px solid #ffffff;
}

.orders_sidebar .djc_title h4 a{
    font-size: 16px;
    line-height: 30px;
    color: #0a3159;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "DIN Pro Medium";
    color: #ffffff;
}
.orders_sidebar .uk-panel-title {
    max-width: 1024px;
    margin: 0 auto;
    color: #ffffff;
    font-family: "DIN Pro Medium";
    padding: 20px 0 20px 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.orders_sidebar .all_orders_btn {
    display: block;
    background: #c71205;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    width: 125px;
    text-transform: uppercase;
    margin:25px auto 0 auto;
}
.orders_sidebar h3 {
    padding: 20px 70px 20px 70px;
}

.djc_files.afiles a { font-size: 13px; }

@font-face {
    font-family: 'DIN Pro Medium';
    src: url('../../../fonts/dinpromedium/din_pro_medium.eot');
    src: url('../../../fonts/dinpromedium/din_pro_medium.eot?#iefix');
    src: url('../../../fonts/dinpromedium/din_pro_medium.svg#DIN Pro Medium');
    src: url('../../../fonts/dinpromedium/din_pro_medium.woff') ;
    src: url('../../../fonts/dinpromedium/din_pro_medium.ttf') ;
    font-weight: normal;
    font-style: normal;
}
.uk-panel-header .uk-panel-title,
.uk-panel.uk-panel-box.contact-form .title-feedback,
.orders_sidebar .uk-panel-title{ font-family: "DIN Pro Medium" !important; }
