/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Widgetkit Slideset: Default Style
 */


/* Navigation
----------------------------------------------------------------------------------------------------*/

.wk-slideset-default .nav {
	margin-top: 10px;
	text-align: center;
}

.wk-slideset-default .nav li { display: inline-block; }
.wk-slideset-default .nav.icon li { margin-left: 5px; }
.wk-slideset-default .nav.text li { margin-left: 40px; }

.wk-slideset-default .nav li:first-child { margin-left: 0; }

.wk-slideset-default .nav.icon span {
	width: 16px;
	height: 15px;
	background: url(images/nav.png) 0 0 no-repeat;
	overflow: hidden;
}
.wk-slideset-default .nav.icon span:hover { background-position: 0 -30px; }
.wk-slideset-default .nav.icon span:active { background-position: 0 -45px; }
.wk-slideset-default .nav.icon .active span { background-position: 0 -15px; }

.wk-slideset-default .nav.text span { padding: 0 11px; }
.wk-slideset-default .nav.text .active span {
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	background: rgba(0,0,0,0.05);
	
}


/* Buttons
----------------------------------------------------------------------------------------------------*/

.wk-slideset-default > div { position: relative; }

/*.wk-slideset-default > div:hover .next,
.wk-slideset-default > div:hover .prev {
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background: url(images/buttons.png) 0 50px no-repeat;
}*/

/*add ///////////////////////////////////////////////////*/
.wk-slideset-default > div:hover .prev {
    top: 40%;
    width: 89px;
    height: 106px;
    margin-top: -25px;
    background: url(images/leftb.jpg) 0 50px no-repeat;
}

.wk-slideset-default > div:hover .next{
    top: 40%;
    width: 89px;
    height: 106px;
    margin-top: -25px;
    background: url(images/rightb.jpg) 0 50px no-repeat;
}
/*///////////////////////////////////////////////////*/

.wk-slideset-default > div:hover .next {
	/*right: 30px;*/
    right: 0;
	background-position: 0 0;
}

.wk-slideset-default > div:hover .prev {
	/*left: 30px;*/
    left: 0;
    background-position: 0 0;/*background-position: 0 -50px;*/
}

/* Content
----------------------------------------------------------------------------------------------------*/
.wk-slideset-default { width: 1024px; margin: 0 auto; }
.wk-slideset-default .sets { margin: 0 -10px; }
.wk-slideset-default article { margin: 0 10px; }

.wk-slideset-default article + strong.title { font-weight: normal; }


/* Responsive
----------------------------------------------------------------------------------------------------*/

/* Only Touch Devices */
@media (max-device-width: 1024px)  {

	.wk-slideset-default .next,
	.wk-slideset-default .prev { display: none; }

}

/* Only Phones */
@media (max-width: 767px) {

	.wk-slideset-default .nav.text li { margin-left: 10px; }
	.wk-slideset-default .nav.text li:first-child { margin-left: 0; }

	.wk-slideset-default .nav.text span {
		padding: 0 6px;
		font-size: 12px;
	}

	.wk-slideset-default .nav.text .active span { padding: 0 5px; }

}